*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;

    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url('https://images.unsplash.com/photo-1503095396549-807759245b35?q=80&w=1974&auto=format&fit=crop');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Delete box */
.delete-box{
    width: 420px;

    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);

    padding: 40px;

    border-radius: 15px;

    color: white;

    text-align: center;

    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.delete-box h1{
    margin-bottom: 20px;
    color: #e63946;
}

.warning-text{
    margin-bottom: 25px;
    font-size: 18px;
    color: #f1f1f1;
}

/* Account info */
.account-info{
    background-color: rgba(255,255,255,0.08);

    padding: 20px;

    border-radius: 10px;

    margin-bottom: 30px;

    text-align: left;
}

.account-info p{
    margin-bottom: 10px;
}

/* Buttons */
.button-group{
    display: flex;
    gap: 15px;
}

.delete-btn{
    flex: 1;

    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: #d00000;

    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover{
    background-color: #ff1e1e;
}

.cancel-btn{
    flex: 1;

    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: #555;

    color: white;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.cancel-btn:hover{
    background-color: #777;
}